.signupwrapper{
    display: flex;
    justify-content: center;
}
.signupcard{
    max-width: 350px;
    min-width: none;
    margin-top: 3%;
}
.sapphireLogo{
    display:flex;
    
    
    justify-content:center;
    align-items:center;
}
.sapphireLogo img{
    width:15vw;

}
.Card2{
    height:3vh;
    margin-top: 2%;
}
.Type1{
    color: gray;
}
.button{
    margin-top:3px;
}
@media only screen and (max-width:620px) {
    .insta-logo img{
        width: 35%;
    }
    .signupcard{
        width: 60%;
    }
}